:root {
  --decoration-color: #FFFFFF; /* DECORATION-COLOR */
  --darc-color: #2e2f42; /* NAVY BLUE */
  --primary-brand-color: #4d5ae5; /* IRIS */
  --light-color: #f4f4fd; /* CLOUD */
  --accent-color: #e7e9fc; /* CORNFLOWER */
  --body-text-color: #434455; /* SLATE */
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  /* background: gray; */
}

.web-header,
.footer-web {
  color: var(--primary-brand-color);
}

.list {
  list-style: none;
}

.btm {
  text-decoration: none;
  cursor: pointer;
}
.link {
  font-family: inherit;
  text-decoration: none;
}

/* ----- HEADER ----- */

.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.studio-header {
  color: var(--darc-color);
}

.contacts-link:focus,
.contacts-link:hover,
.nav-link:hover,
.nav-link:focus {
  color: var(--primary-brand-color);
}

.nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--darc-color);
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

/* ----- HERO ----- */

.hero {
  background-color: var(--darc-color);
}

.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--decoration-color);
}

.hero-btm {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--decoration-color);
  background-color: var(--primary-brand-color);
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ----- BENEFITS ----- */

.benefits-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--darc-color);
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

/* ----- WORK ----- */

.work-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--darc-color);
}

/* ----- TEAM ----- */
.team {
}
.team-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--darc-color);
}
.subject {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--darc-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

/* ----- PORTFOLIO ----- */

.btm-portfolio:focus,
.btm-portfolio:hover {
  background-color: var(--primary-brand-color);
  color: var(--decoration-color);
  border: 1px solid var(--primary-brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btm-portfolio {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background:var(--light-color);
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  
}

.portfolio-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--darc-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

/* ----- FOOTER ----- */

.footer {
 background-color: var(--darc-color);
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-studio {
  color: var(--light-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
