body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
.bottum:hover {
  background: blue;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
}
.web {
  color: #4d5ae5;
}
.list {
  list-style: none;
}
.link {
  font-family: inherit;
}

.header-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}

.contact {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
